# Unified diffs require a space before context tabs and on blank context lines.
*.patch whitespace=-blank-at-eol,-space-before-tab
prebuilt/pico-imx7/ubuntu-22.04-5.15.71/modules.record whitespace=-blank-at-eol
